In [8]:
from main import main 
import pandas as pd

In [9]:
pd.read_csv("../mva-recvis-2024/class2category.csv")

         Class  Category
0    n01484850         0
1    n01494475         1
2    n01496331         2
3    n01514668         3
4    n01518878         4
..         ...       ...
495  n12768682       495
496  n12985857       496
497  n13040303       497
498  n13133613       498
499  n15075141       499

[500 rows x 2 columns]